iframe {
    border:0;
}

.collectionItemEdit, .itemDelete, .brand-logo{
    cursor: pointer;
}

.itemDelete{
    float: right
}

.atomicEditForm{
    background: rgba(255, 255, 255, 0.87);
    color: rgba(0, 0, 0, 0.87);

}

.attractToDrop {
    min-height: 40px !important;
    border: 2px dotted lightgrey !important;
    background: whitesmoke !important;
}

.collection {
    min-height: 100px !important;
    overflow: visible !important;
}
.actionsMenu .row {
    margin-bottom: 0;
}

.actionsMenu button {
    margin: 5px;
}

.collection-item .title{
    font-weight: 300;
    font-size: 1.2em;
}

.resultset-title{
    font-weight: 300;
    font-size: 1.1em;
    color: #26a69a;
}

.scrumBoard .resultset-title{
    font-weight: 300;
    font-size: 1.1em;
    color: #595959;
}

.collection-item p{
    margin-bottom: 3px;
    margin-top: 5px;
}

.emptyList{
    border:1;
    background: gainsboro;
    height: 80px;
    text-align: center;
}

body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex:1 0 auto;
 }

.externalLinks{
    float: right;
    padding: 0px;
    margin: 0px;
}
.stretchedToMargin {
  display: block;
  position:absolute;
  height: auto;
  width: auto;
  top:0;
  left:0;
  right:0;
  margin-top: 60px;
  /* margin-bottom:20px; */
  /* margin-right:80px; */
  /* margin-left:80px; */
  background-color: green;
  box-sizing: border-box;
}
.nav-wrapper .input-field input[type=search] {
    padding-left: 4rem;
    width: calc(100% - 7rem);
}

.tabs {
    margin-top: 4px;
}

.tabs .tab a{
    color: #80cbc4;
}

.tabs .tab a.active,
.tabs .tab a:hover {
    color: #26a69a;
}

.tabs .indicator{
    background: #4db6ac;
}

.collapsible strong{
    color: #26a69a;
    font-size: 1.2em;
}

em {
    font-size: 1.4em;
    font-style: normal;
}
.collection .active a, .collapsible-header.active .selected a{
    color: #b3e5fc;
}
.collection .active strong, .collapsible-item.selected strong {
    color: #eafaf9;
    font-size: 1.2em;
}
.collapsible-item.selected > .collapsible-header{
    color: #eafaf9;
    background: #26a69a;
}
.collapsible .comment{
    
    font-size: 0.8em;
}

form .envi-input-description{
    /* background-color: aliceblue; */
    color: #c99a44;
    font-size: 0.8em;
    /* padding-top: 20px; */
}